html,
body {
    height: 100%;
}
body {
    background-color: #f4f5f2;
}
.section {
    margin: 0 auto;
    max-width: 70%;
    padding: 50px 0;
}
.card {
    margin-bottom: 20px;
}
.card-form {
    margin-bottom: 150px;
}
.field {
    position: relative;
}
.help {
    left: 50%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}